@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

:root {
    --primary-color: #ff4500;
    --secondary-white: #FFFFFF;
    --secondary-gray: #F4F4F4;
    --secondary-black: #0A0A0A;
    --transition: all .2s ease-in
}

::selection {
    background-color: var(--primary-color);
    color: var(--secondary-white);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e63d00;
}

@font-face {
    font-family: 'poppins';
    src: url("../assets/fonts/poppins-black-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'poppinsbold';
    src: url("../assets/fonts/poppins-bold-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'poppinsextrabold';
    src: url("../assets/fonts/poppins-extrabold-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: sans-serif;
    background-color:var(--secondary-white);
}

.header {
    @apply bg-white items-center justify-center;
}

nav {
    @apply lg:flex lg:items-center lg:justify-center
}

nav .container {
    @apply lg:mt-8 py-8 lg:py-10 lg:rounded-full;
    background-color: var(--secondary-black);
    position: relative
}

@media only screen and (max-width:1023px) {
    nav .container {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
}

nav .desktop-view {
    @apply hidden lg:flex items-center justify-between px-20
}

.nav-link {
    list-style: none;
    font-size: 20px
}

.nav-name {
    font-family: 'poppins', sans-serif;
}

.nav-link a {
    font-family: 'poppins', sans-serif;
    color: var(--secondary-white);
    position: relative;
    text-decoration: none
}

#active-desk, .nav-link a:hover {
    color: var(--primary-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#active-desk::before, .nav-link a::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid var(--primary-color);
    width: 0;
    top: 100%;
    left: 0;
    transition: var(--transition)
}

#active-desk::before, .nav-link a:hover::before {
    width: 100%
}

#active-mob {
    color: var(--primary-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#active-mob::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid var(--primary-color);
    width: 0;
    top: 100%;
    left: 0;
    transition: var(--transition)
}

#active-mob::before {
    width: 100%
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
    cursor: pointer;
    padding-left: 3rem;
    padding-right: 3rem;
    transition: padding .3s ease
}

@media (min-width:768px) {
    .hamburger {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.hamburger span {
    width: 30px;
    height: 3px;
    background-color: var(--secondary-white);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.hamburger.open span:nth-child(1) {
    transform: translateY(12px) rotate(45deg)
}

.hamburger.open span:nth-child(2) {
    opacity: 0
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg)
}

.mobile-view {
    @apply w-full h-screen mt-[5.50rem] p-5 lg:hidden flex flex-col items-center gap-12 bg-black;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    transition: opacity .5s ease
}

.mobile-view.show {
    display: flex;
    animation: fadeIn .5s forwards;
    -webkit-animation: fadeIn .5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.hero-section {
    @apply bg-white py-20 flex items-center justify-center;
}

.hero-text {
    @apply flex flex-col items-center justify-center text-center;
}

.hero-text-content h2 {
    @apply mt-20 2xl:text-3xl xl:text-3xl lg:text-3xl md:text-3xl sm:text-2xl text-gray-600;
}

.hero-text-content h1 {
    @apply mt-6 text-3xl 2xl:text-9xl xl:text-9xl lg:text-8xl md:text-7xl sm:text-6xl;
    font-family: 'poppinsbold', sans-serif;
    line-height: 1.2;
    color: var(--secondary-black);
}

.hero-text-content p {
    @apply mt-5 text-center 2xl:text-3xl xl:text-3xl lg:text-2xl md:text-xl sm:text-xl text-gray-600;
}

.hero-btn {
    @apply mt-12 flex items-center justify-center gap-6;
}

.hero-btn button {
    @apply inline-block text-xs py-3 px-4 sm:py-6 sm:px-8 md:py-6 md:px-8 lg:py-6 lg:px-8 xl:py-6 xl:px-8 2xl:py-6 2xl:px-8 rounded-full 2xl:text-3xl xl:text-3xl lg:text-3xl md:text-3xl sm:text-2xl transition-all duration-300;
    font-family: 'poppins', sans-serif;
}

.hero-btn .btn-1 {
    background-color: #ff8131;
    color: var(--secondary-black);
    @apply border border-transparent;
}

.hero-btn .btn-2 {
    @apply flex items-center justify-center gap-3;
    background-color: var(--secondary-white);
    color: var(--secondary-black);
    border: 2px solid #ff8131;
}

.hero-btn .btn-1:hover {
    background-color: var(--secondary-white);
    color: #ff8131;
    border-color: #ff8131;
}

.hero-btn .btn-2:hover {
    background-color: #ff8131;
    color: var(--secondary-white);
}

@media only screen and (min-device-width: 412px) and (max-device-width: 639px) {
    .hero-text-content h2 {
        @apply text-xl;
    }
    .hero-text-content h1 {
        @apply text-4xl;
    }
    .hero-text-content p {
        @apply text-xl;
    }
    .hero-btn button {
        @apply text-lg;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 610px) {
    .hero-btn {
        @apply flex-wrap;
    }
}

.about-section {
    @apply bg-black p-10;
}

.about-section-content {
    @apply mt-36 sm:mt-24;
}

.about-section-content h2 {
    @apply 2xl:text-8xl xl:text-8xl lg:text-7xl md:text-6xl sm:text-5xl;
    font-family: 'poppinsbold', sans-serif;
    color: var(--secondary-white);
    text-align: center
}

.about-section-grid {
    @apply mt-20 flex flex-wrap items-center justify-center gap-6 2xl:flex-nowrap xl:flex-nowrap lg:flex-nowrap;
}

.about-section-card {
    @apply bg-white flex items-center justify-center w-full max-w-sm rounded-3xl overflow-hidden;
    max-width: 100%;
}

.about-section-card .container {
    @apply p-8 flex flex-col items-center justify-center;
}

.about-section-card .icon-container {
    @apply bg-[#c4c4c4] w-32 h-32 flex items-center justify-center rounded-full;
}

.about-section-card .icon {
    @apply  text-white text-5xl;
}

.about-section-grid h2 {
    @apply py-8 2xl:text-5xl xl:text-4xl lg:text-3xl md:text-4xl sm:text-4xl text-center;
    color: var(--secondary-black);
    font-family: 'poppinsbold', sans-serif;
}

.about-section-grid p {
    @apply text-black 2xl:text-xl xl:text-xl lg:text-lg md:text-2xl sm:text-2xl text-center;
}

@media (max-width: 639px) {
    .about-section-content {
        @apply mt-10;
    }
    .about-section-content h2 {
        @apply text-3xl;
    }
    .about-section-grid h2 {
        @apply text-3xl;
    }
}

@media (min-width: 1024px) {
    .about-section-card {
        max-width: calc(33% - 10px);
    }
}

@media (min-width: 1280px) {
    .about-section-card {
        max-width: calc(32% - 10px);
    }
}

@media (min-width: 1536px) {
    .about-section-card {
        max-width: calc(27% - 10px);
    }
}